.catalog
    background: $main-bg-theme
    padding-top: 70px
    padding-bottom: 70px
    &__title
        font-size: 30px
        font-weight: 500
        line-height: 110%
    &__titles-wrapper
        display: flex
        flex-direction: row
        align-items: center
        gap: 427px
    &__links-wrapper
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%
    &__country-button
        cursor: pointer
        width: 126px
        height: 43px
        border: none
        padding: 10px 20px 10px 20px
        background: $main-theme
        border-radius: 20px
        transition: all 0.3s
        &-active
            background: $button-active-color
            color: rgb(244, 246, 245)
        &:hover
            color: rgb(244, 246, 245)
            background: rgb(89, 141, 102)

.replicas
    margin-top: 30px
    &__button
        margin-top: 20px
        width: 310px
        height: 65px
        border: 1px solid $font-color
        background-color: transparent
        cursor: pointer
        font-size: 20px
        font-family: 'Raleway'
        font-weight: 500
        line-height: 20px
        color: $font-color
    &__item
        width: 350px
        height: 730px
        background: $main-theme
        padding-left: 20px
        &--img
            margin-top: 20px
        &--author
            margin-top: 20px
            color: $font-second-theme-color
            font-size: 18px
            font-weight: 500
            line-height: 21px
        &--name
            margin-top: 10px
            font-size: 30px
            font-weight: 500
            line-height: 35px
        &--type
            margin-top: 8px
            font-size: 18px
            font-weight: 500
            line-height: 21px
        &--price
            color: $font-color
            margin-top: 30px
            font-size: 24px
            font-weight: 500
            line-height: 28px
    &__row-wrapper
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        gap: 30px
        margin-bottom: 30px
