.footer
    background-color: $main-theme
    padding-bottom: 70px
    padding-top: 20px
    &__tel
        margin-top: 25px
        text-decoration: none
        display: block
        color: rgb(44, 45, 53)
        &-describe
            color: $font-second-theme-color
    &__links
        display: flex
        flex-direction: row
        justify-content: space-between

.link-item
    text-decoration: none
    display: block
    color: $font-second-theme-color
    margin-top: 10px
    @include link-hover-status
    @include link-active-status
.social__row
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 30px
    &-desc
        color: $font-second-theme-color
        font-size: 12px
        font-weight: 500
        line-height: 120%
