.header
    background-color: $main-theme
    height: 75px
.navigation
    &__wrapper
        padding: 20px 0px
        display: flex
        flex-direction: row
        align-items: center
    &__links
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 100%
    &__link
        text-decoration: none
        color: rgb(44, 45, 53)
        font-size: 15px
        font-weight: 500
        @include link-hover-status
        @include link-active-status
