.header
    background-color: $main-theme
    height: 75px
    &__navigation

.navigation
    &__wrapper
        padding: 20px 0px
        display: flex
        flex-direction: row
        align-items: center
        gap: 495px
    &__links 
        margin-top: 7px
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        gap: 60px
    &__link
        text-decoration: none