.promo
    overflow: hidden
    &__inner-wrapper
        height: 100%
        background: url('../img/promo_bg.png') center top /calc(100vw) auto no-repeat
        padding: 70px 0
        background-color: $main-bg-theme
        position: relative
        left: 50%  
        transform: translateX(-50%) 
        width: 100vw
    &__title
        color: rgb(244, 246, 245)
        font-family: Raleway
        font-size: 40px
        font-weight: 500
        line-height: 100%
    &__describe
        margin-top: 20px
        font-size: 17px
        font-weight: 500
        line-height: 150%
        color: rgb(255, 255, 255)
        &-wrapper
            margin-top: 20px
            width: 540px
        &-2row
            margin-top: 20px
    &__button
        font-family: Raleway
        font-size: 20px
        font-weight: 500
        margin-top: 60px
        background: rgb(238, 219, 109)
        width: 257px
        height: 65px
        font-size: 20px
        font-weight: 500
        line-height: 23px
        border: none
        transition: all 0.3s
        cursor: pointer
        &:hover
            background: rgb(250, 235, 151)
        &:active , &:hover:active
            background: rgb(217, 185, 73)
